<div class='branch-point'>
  <span class='hover-container grey-text'>
    <div class="card animated flipInX">
      <div class="card-content inactive-content">
        <i class="material-icons right r90 md-36">call_split</i>
        Click to branch from here
      </div>
      <div class="card-content active-content">
        <%= form_for chunk.actions.new do |f| %>
          <input type="text" name="branch[title]" placeholder="Branch title" />
          <div class="branch-text" contenteditable="true">
            <p>Continue the story from here...</p>
          </div>
          <div class="submit">
            <%= f.button "Save your branch", 
                  class: 'js-submit-branch right waves-effect waves-light btn green white-text'
            %>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </span>
</div>