<div class='branch-point'>
  <span class='hover-container grey-text'>
    <div class="card animated flipInX">
      <div class="card-content inactive-content">
        <i class="material-icons right r90 md-36">call_split</i>
        Click to branch from here
      </div>
      <div class="card-content active-content">
        <div class="branch-text" contenteditable="true">
          <p>Continue the story from here...</p>
        </div>
        <div class="submit">
          <a href="#" class="right waves-effect waves-light btn green white-text">
            Save your branch
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </span>
</div>