<div class='branch-point'>
  <span class='hover-container grey-text'>
    <div class="card animated flipInX">
      <div class="card-content inactive-content">
        <i class="material-icons right r90 md-36">call_split</i>
        Click to branch from here
      </div>
      <div class="card-content active-content">
        Wow it works
      </div>
    </div>
  </span>
</div>