.green-outline-btn {
  color: green;
  border: 1px solid green;

  padding: 3px 10px;
  margin: 0 4px;
}

.orange-outline-btn {
  color: orange;
  border: 1px solid orange;

  padding: 3px 10px;
  margin: 0 4px;
}